.card-block {
  // background-image: url('../../images/backgrounddropdown.PNG');
  background-color: black;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-bottom: 30px;
}

.btn-secondary {
  margin-top: -15px;
  background: black;
  height: 30px;
  width: 150px;
  border-radius: 10px;
}

.btn-link {
  color: white;
}

.fa-sort-asc {
  padding-top: 7px;
  color: white;
}
.fa-sort-asc :hover{
  
  color: blue;
}

// .card-text {
//   padding-bottom: 115px;
// }