.card-block {
  background-color: black;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  width:100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0px 0px 1px 1px black;
}


.btn-secondary {
  background: black;
  height: 30px;
  width: 150px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  bottom-border-radius: 15px;
}

.btn-link {
  color: white;
}

.fa-sort-asc {
  color: white;
}
