.card-block {
  // background-image: url('../../images/backgrounddropdown.PNG');
  background-color: black;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  width:100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}


.btn-primary {
  margin-top: 20px;
  background: black;
  height: 65px;
  width: 158px;
  border-radius: 10px;
  border: solid 2px;
}



.btn-secondary {
  background: black;
  height: 30px;
  width: 150px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  bottom-border-radius: 15px;
}

.btn-link {
  color: white;
}

.fa-sort-asc {
  color: white;
}
