.logobar {
  z-index: 1;
  width: 100%;
  background-color: black;
  height: auto;
  .collapse-button {
    width: 20px;
    margin-bottom: -7px;  
  }
  a,i {
    text-decoration: none;
    color: white
  }
}

.logos {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: auto;
  padding: 7px;
  margin-left: 10px;
  margin-right: 10px;  
}


.logo :hover{
  color:white;
}

.logo {
  flex: 0 1 auto;
  align-self: auto;
  color:white !important;
  width:100px;
  height:50px
}

@media screen and (max-width: 720px) {
  .logo {
    width:60px;
    height:30px
  }
}