<div class="collapse" id="collapseHoe">
  <div class="card card-block">
    <div class="card-text">
     <% data.collapse.each do |collapse| %>
     <%= collapse["title"] %> 
     <%= collapse["description"] %>
     <% end %>
   </div>
 </div>
 <a class="btn btn-secondary" data-toggle="collapse" href="#collapseHoe" aria-expanded="false" aria-controls="collapseHoe">
  <i class="fa fa-sort-asc" aria-hidden="true"></i>
</a>
</div>