<div class="collapse" id="HoeWerktHet">
  <div class="card card-block">
    <div class="card-text">
     <% data.collapse.each do |collapse| %>
     <%= collapse["title"] %> 
     <%= collapse["description"] %>
     <% end %>
   </div>
 </div>
</div>