<div class="footer">
  <div class="row">
    <div class="col-sm-4"><a href="http://www.geluidsoverlast.nl/"  target="_blank"><i class="fa fa-twitter fa-4" aria-hidden="true"></i></a><a href="http://www.geluidsoverlast.nl/"  target="_blank"><i class="fa fa-facebook-official fa-4" aria-hidden="true"></i></a></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4"><a href="http://www.geluidsoverlast.nl/"  target="_blank"><%= image_tag("Fo-logoV2.0.png",class: "logo") %></a></div>

</div>