<div class="logobar">
  <div class="logos">
    <div class="logo"><a href="http://nsg.nl" target="_blank">
     <i class="fa fa-volume-up fa-4x" aria-hidden="true"></i></a>
    </div>
    <div class="logo"><a href="http://chasingthehihat.nl" target="_blank">
      <i class="fa fa-cubes fa-4x" aria-hidden="true"></i></a>
    </div>
    <div class="logo"><a href="http://www.ams-amsterdam.com/" target="_blank">
      <i class="fa fa-map fa-4x" aria-hidden="true"></i></a>
    </div>
    <div class="logo"><a href="http://www.tudelft.nl/" target="_blank">
    <i class="fa fa-connectdevelop fa-4x" aria-hidden="true"></i></a>
    </div>
    <div class="logo"><a href="http://dgmr.nl/" target="_blank">
      <i class="fa fa-skyatlas fa-4x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>