---
title: Festival overlast
---
<!-- <div class="background"> -->


        <div > <a class="btn btn-secondary" data-toggle="collapse" href="#collapseHoe" aria-expanded="false" aria-controls="collapseHoe">
          <i class="fa fa-sort-asc" aria-hidden="true"></i></a></div>
          <div class="welcome container text-center">
            <% data.welcome.each do |welcome| %>
          <h1>  <%= welcome["title"] %> </h1>
          <h4>  <%= welcome["description"] %></h4>
            <% end %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Meld Nu</button>
          </div>
          <%= partial "modal" %>
        </div>

<!-- </div> -->