---
title: Welcome to Middleman
---

<div class="welcome container text-center">
  <h1>Ondervindt u overlast van een evenement bij u in de buurt?</h1>
  <h4>Door hier uw klacht achter te laten helpt u ons dit probleem beter in kaart te brengen. De oplossing beging bij úw geluid.</h4>
  <button type="button" class="btn btn-primary">Meld Nu</button>
</div><!-- .welcome -->
